.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.77) 100%, rgba(0, 0, 0, 0.5) 100%),
        url('../../assets/drink.png');
    background-size: contain;
    width: 100%;
    color: #fff;
    padding: 1% 0%;
}

.items {

    border: 0.5px solid #014c7a;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.71px;
    letter-spacing: 0.03em;
    background-color: black;
    text-shadow: 1.3px 0.97px 0px #800020;
    color: #fff;
    cursor: pointer;
    width: 114.25px;
    height: 49.98px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.items:focus {
    transform: scale(1.02);
}

.items:hover {
    border: 1px solid #009dff;
    transform: scale(1.02);

}

.active {
    background-color: #0796EF;
}

@media (max-width: 576px) {

    .items {
        width: 95.25px;
        height: 40.98px;
    }

    .container {
        padding: 2.3% 0%;
    }
}
@media (max-width: 320px) {

    .items {
        width: 83.25px;
        height: 32.98px;
    }

    .container {
        padding: 2.3% 0%;
    }
}